.navBar_utilisateur nav{
    background-color: rgb(201, 0, 0);
    height: 10vh;
    width: 100%;
    box-shadow: 1px 3px 5px black;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
}
.navBar_utilisateur nav span{
    color: white;
}

.navBar_utilisateur h2{
    padding: 1.5%;
    font-size: 1.6rem;
}
.research_zone input{
    background-color: white;
    height: 5vh;
    margin-top: 10%;
    padding: 2%;
    border-radius: 5px;
}